/* @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext'); */

/* @font-face {
  font-family: GrotekMed;
  src: url(".../fonts/HKGroteskPro-Medium.woff2") format("opentype");
} */

@font-face {
  font-family: archia;
  src: url("../fonts/Graphik-Bold.woff2") format("opentype");
}

@font-face {
  font-family: Archia;
  src: url('../fonts/Archia/archia-thin-webfont.eot') format("opentype");
  src:
    url('../fonts/archia-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Archia/archia-thin-webfont.woff2') format('woff2'),
    url('../fonts/Archia/archia-thin-webfont.woff') format('woff'),
    url('../fonts/Archia/archia-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Archia;
  src: url('../fonts/Archia/archia-thin-webfont.eot') format("opentype");
  src:
    url('../fonts/Archia/archia-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Archia/archia-thin-webfont.woff2') format('woff2'),
    url('../fonts/Archia/archia-thin-webfont.woff') format('woff'),
    url('../fonts/Archia/archia-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Archia;
  src: url('../fonts/Archia/archia-light-webfont.eot') format("opentype");
  src:
    url('../fonts/Archia/archia-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Archia/archia-light-webfont.woff2') format('woff2'),
    url('../fonts/Archia/archia-light-webfont.woff') format('woff'),
    url('../fonts/Archia/archia-light-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Archia;
  src: url('../fonts/Archia/archia-regular-webfont.eot') format("opentype");
  src:
    url('../fonts/Archia/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Archia/archia-regular-webfont.woff2') format('woff2'),
    url('../fonts/Archia/archia-regular-webfont.woff') format('woff'),
    url('../fonts/Archia/archia-regular-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Archia;
  src: url('../fonts/Archia/archia-medium-webfont.eot') format("opentype");
  src:
    url('../fonts/Archia/archia-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Archia/archia-medium-webfont.woff2') format('woff2'),
    url('../fonts/Archia/archia-medium-webfont.woff') format('woff'),
    url('../fonts/Archia/archia-medium-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Archia;
  src: url('../fonts/Archia/archia-semibold-webfont.eot') format("opentype");
  src:
    url('../fonts/Archia/archia-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Archia/archia-semibold-webfont.woff2') format('woff2'),
    url('../fonts/Archia/archia-semibold-webfont.woff') format('woff'),
    url('../fonts/Archia/archia-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Archia;
  src: url('../fonts/Archia/archia-bold-webfont.eot') format("opentype");
  src:
    url('../fonts/Archia/archia-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Archia/archia-bold-webfont.woff2') format('woff2'),
    url('../fonts/Archia/archia-bold-webfont.woff') format('woff'),
    url('../fonts/Archia/archia-bold-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #fff;

  font-family: Archia;
  overflow-x: hidden;
}

.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  background: transparent !important;
}

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 10px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 5px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 28px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  padding: 0;
}

.navbar-toggler-icon {
  background-image: none !important;
}

.navbar-brand img {
  height: 52px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #343A40;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #343A40;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  color: #343A40 !important;
  font-weight: 500;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: #343A40 !important;
}

.nav-item.active .nav-link {
  color: #343A40 !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  /* background-color: #8167a9; */
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
  margin-bottom: 50px !important;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  height: 100vh;
}

.over-hide {
  overflow: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}

/* h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #212112;
  text-align: center;
}

p {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;
} */

body.hero-anime p {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1700ms;
}

h1 span {
  display: inline-block;
  transition: all 300ms linear;
  opacity: 1;
  transform: translate(0);
}

body.hero-anime h1 span:nth-child(1) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(2) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(3) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(4) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(5) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(6) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(7) {
  opacity: 0;
  transform: translateY(-40px);
}

body.hero-anime h1 span:nth-child(8) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(9) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(10) {
  opacity: 0;
  transform: translateY(-20px);
}

h1 span:nth-child(1) {
  transition-delay: 1000ms;
}

h1 span:nth-child(2) {
  transition-delay: 700ms;
}

h1 span:nth-child(3) {
  transition-delay: 900ms;
}

h1 span:nth-child(4) {
  transition-delay: 800ms;
}

h1 span:nth-child(5) {
  transition-delay: 1000ms;
}

h1 span:nth-child(6) {
  transition-delay: 700ms;
}

h1 span:nth-child(7) {
  transition-delay: 900ms;
}

h1 span:nth-child(8) {
  transition-delay: 800ms;
}

h1 span:nth-child(9) {
  transition-delay: 600ms;
}

h1 span:nth-child(10) {
  transition-delay: 700ms;
}

body.hero-anime h1 span:nth-child(11) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(12) {
  opacity: 0;
  transform: translateY(50px);
}

body.hero-anime h1 span:nth-child(13) {
  opacity: 0;
  transform: translateY(20px);
}

body.hero-anime h1 span:nth-child(14) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(15) {
  opacity: 0;
  transform: translateY(50px);
}

h1 span:nth-child(11) {
  transition-delay: 1300ms;
}

h1 span:nth-child(12) {
  transition-delay: 1500ms;
}

h1 span:nth-child(13) {
  transition-delay: 1400ms;
}

h1 span:nth-child(14) {
  transition-delay: 1200ms;
}

h1 span:nth-child(15) {
  transition-delay: 1450ms;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#switch {
  width: 60px;
  height: 8px;
  border: 2px solid #8167a9;
  border-radius: 27px;
  background: #000;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1900ms;
}

body.hero-anime #switch {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1900ms;
}

#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #000;
}

.switched {
  border-color: #000 !important;
  background: #8167a9 !important;
}

.switched #circle {
  left: 43px;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #fff;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #343A40;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(129, 103, 169, .6);
}

body.dark {
  color: #fff;
  background-color: #1f2029;
}

body.dark h1 {
  color: #fff;
}

body.dark h1 span {
  transition-delay: 0ms !important;
}

body.dark p {
  color: #fff;
  transition-delay: 0ms !important;
}

body.dark .bg-light {
  background-color: #14151a !important;
}

body.dark .start-header {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

body.dark .start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

body.dark .nav-link {
  color: #fff !important;
}

body.dark .nav-item.active .nav-link {
  color: #999 !important;
}

body.dark .dropdown-menu {
  color: #fff;
  background-color: #1f2029;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

body.dark .dropdown-item {
  color: #fff;
}

body.dark .navbar-light .navbar-toggler-icon {
  border-bottom: 1px solid #fff;
}

body.dark .navbar-light .navbar-toggler-icon:after,
body.dark .navbar-light .navbar-toggler-icon:before {
  background-color: #fff;
}

body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}


.navbar {
  background: #fff;
}

.donate {
  font-size: 18px;
  font-family: archia !important;
  
  line-height: 1.5em !important;
}

/* .donate li{
  line-height: 1.5em !important;
} */
.donate li a {
  transition: all .2s ease-in-out;
}

.donate li a:hover {
  color: white !important;
  font-size: 22px;
}

.disc li {
  list-style-type: disc !important;
}

.EmbeddedTweet {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  align-content: center;
  max-width: 100% !important;
  display: block;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 300px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}



/* #Media
================================================== */

@media (max-width: 767px) {

  .disc li {
    line-height: 1.8em !important;
  }

  .donate li {
    line-height: 1.8em !important;
  }

  .world h2 {
    font-size: 18px !important;
  }

  h1 {
    font-size: 38px;
  }

  .nav-item:after {
    display: none;
  }

  .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
  }

  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }

  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  body.dark .nav-item::before {
    background-color: #fff;
  }

  body.dark .dropdown-toggle::after {
    background-color: #fff;
  }

  body.dark .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
  }
}

/* #Link to page
================================================== */

.link-to-portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 200;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: cover;
  background-image: url('https://ivang-design.com/ig-logo.jpg');
  box-shadow: 0 0 0 2px rgba(12, 12, 12, .1);
  transition: opacity .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}

.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(12, 12, 12, .1);
}


h2 {
  color: #343A40;
}

.graph {
  background: #fff;
}

#grad {
  background: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  color: #343A40;
  font-family: archia !important;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
  text-transform: uppercase;

}

#grad th {
  font-size: 12px;
  font-weight: 900 !important;
  font-family: archia !important;
}

.map {
  background: #fff;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

path.subunit:hover {
  fill-opacity: 0.8;
}

div.tooltip {
  position: absolute;
  padding: 5px 10px;
  color: black;
  border-radius: 4px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid black;
  pointer-events: none;
  min-width: 150px;
}


.tipps {
  display: block !important;
  min-width: 100% !important;
  background: #fff;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  color: #343A40;
  font-family: archia;
  box-shadow: 0 0 40px 0 #aad0e3;
}

.tipps h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  font-family: archia;
  color: #343A40;
  text-transform: uppercase;
}

th {
  font-family: archia;
}

.tipps_heading {
  font-family: archia !important;
  text-align: center;
  font-weight: 700;
}

.tipps_p {
  font-family: archia !important;
  font-size: 18px;
  line-height: 1.9em;
  word-break: break-word;
}

.tipps ul li {
  list-style-type: none;
  word-break: break-word;
  font-family: archia !important;
}

.india-data {
  background-image: linear-gradient(to right, #f953c6, #b91d73);
  border-radius: 10px;
}

#header {
  text-align: center;
  color: #343A40;
  font-family: archia !important;
  margin-bottom: 2rem;
  margin-top: 30px;
  font-size: 30px !important;
  text-transform: uppercase;
  font-weight: 900;
}

#news {
  text-align: center;
}

.card {
  text-align: initial;
}

.text-center {
  text-align: center;
  color: #343A40;
  margin-top: 3rem;
  font-family: archia;
  margin-bottom: 2rem;

}

.text-p {
  text-align: center;
  color: #343A40;
  margin-top: 1rem;
  font-family: archia;
  margin-bottom: 2rem;
  font-weight: 900;

}

/* .tipps_p {
  font-weight: 400 !important;
} */


.footer {
  background: #fff;
  padding-top: 1rem;
}


.btn-icon i {
  text-align: center;
  font-size: 22px;
  width: 26px;
  color: black;
  line-height: 24px;
  padding-top: 1px;
}

.btn-icon {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
  transition: 0.3s all ease-in-out;
}

.btn-icon:hover {
  transition: 0.3s all ease-in-out;
  transform: scale(0.8);
}

.btn-icon:focus {
  transition: 0.3s ease-in-out;
  transform: scale(0.8);
}

.icon-row {
  justify-content: center;
}

.footer {
  margin: 0 auto;
  text-align: center;
  border-top-right-radius: 1rem;
}

.amaze {
  text-transform: uppercase;
  font-family: archia !important;
}

.amaze a:hover {
  color: white;
}

.credits {
  font-size: 14px;
  padding: 10px;
  display: block;
}

.credits span {
  font-family: archia;
  ;
  color: #343A40;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.image .row {
  display: flex;
}

.images .col-sm-3 {
  flex: 33.33%;
  padding: 5px;
}

.images .col-sm-3 img {
  transition: all .2s ease-in-out;
  display: flex;
  margin: auto;
  padding: 10px;
}

.images .col-sm-3 img:hover {
  transform: scale(1.1);
}


.images .col-sm-3 p {
  text-align: center;
  color: #343A40;
  font-size: 16px;
  font-family: archia;
  font-weight: 900;
}

.images h2 {
  text-align: center;
  font-family: archia !important;
  font-family: 18px;
  font-weight: 700;
}


.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #343A40;
  font-size: 22px !important;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #343A40;
  padding: 3px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #3a3a3a;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  color: #343A40;
  font-family: archia !important;
  font-size: 18px !important;
  line-height: 1.8em;
  text-align: left;
}

.accordion .content p span {
  color: #343A40;
  font-weight: 700;
  font-size: 22px;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.faq h2 {
  font-family: archia;
  ;
  text-align: center;
  font-weight: 700;
  color: #343A40;
  margin: 50px 10px 0 0;
}

.tab {
  width: 100%;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  display: inline-block;
}

/* Create an active/current tablink class */
.tab button.active {
  background: #343A40 !important;
  border-radius: 12px;
  color: white;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  display: none;
}

.card_body {
  background: #fff !important;
}

.stats tr:nth-child(even) {
  background-color: #f2f2f2;
}

.stats tr:hover {
  background-color: #ddd;
}

.stats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #343A40 !important;
}

table.table td {
  font-weight: 900 !important;
  color: #6C757D;
  font-size: 14px;
  font-family: archia !important;
}

button {
  color: #343A40;
}

.icon {
  display: none;
}

#news {
  text-align: center;
}

.link_tips .row {
  display: flow-root;
  margin-bottom: 30px;
}

.few_tips h5 {
  vertical-align: middle !important;
  align-self: center !important;
  display: inline-block !important;
}
.link_tips h5{
  display: inline-block !important;
  font-family: archia;
}

.tips .row h5,
.tips .row button {
  display: inline-block;
}

.link_tips button {
  width: 120px;
  height: 50px;
  color: #fff !important;
  border: none;
  background: #343A40;
  margin: 0 20px 20px 20px;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 12px;
  float: right;
}

#eight a {
  color: #fff!important;
}

#eight {
  position: sticky;
  transition: ease-in;
}

#eight::after {
  content: "";
  position: absolute;
  background-color: #fff;
  z-index: -1;
  transition-duration: 0.5s;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
}

#eight::before {
  content: "";
  position: absolute;
  background-color: #fff;
  z-index: -1;
  transition-duration: 0.5s;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
}

#eight_span::after {
  content: "";
  position: absolute;
  background-color: #fff;
  z-index: -1;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0;
}

#eight_span::before {
  content: "";
  position: absolute;
  background-color: #fff;
  z-index: -1;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
  top: 0;
  right: 0;
  width: 2px;
  height: 00;
}

#eight:hover::after {
  width: 100%;
}

#eight:hover::before {
  width: 100%;
}

#eight:hover>#eight_span::after {
  height: 100%;
}

#eight:hover>#eight_span::before {
  height: 100%;
}

.about p {
  font-size: 20px !important;
  font-family: archia !important;
  color: #343A40;
}

#spin {
  color: rgba(32, 26, 162, 0.87);
  font-size: 14px;
  font-weight: 900;
  font-family: archia !important;
  padding: 10px 15px;
}

#spin:after {
  content: "";
  animation: spin 28s linear infinite;
}

@keyframes spin {
  0% {
    content: "Help the medical fraternity by staying at home! ";
  }

  10% {
    content: "Wash your hands with soap and water often. Keep the virus at bay.";
  }

  20% {
    content: "Do not panic! ❌ Your essential needs will be taken care of. DO NOT HOARD. ";
  }

  30% {
    content: "Don't Hoard groceries and essentials. Please ensure that people who are in need don't face a shortage because of you! ";
  }

  40% {
    content: "Help out the elderly by bringing them their groceries and other essentials. ";
  }

  50% {
    content: "Avoid going out during the lockdown. Help break the chain of spread.";
  }

  60% {
    content: "Panic mode : OFF! ❌ ESSENTIALS ARE ON ! ✔️ ";
  }

  70% {
    content: "The hot weather will not stop the virus! You can! Stay home, stay safe.";
  }

  80% {
    content: "Be considerate : While buying essentials remember : You need to share with 130 Crore Others! ";
  }

  90% {
    content: "Stand Against FAKE News and WhatsApp Forwards! Do NOT ❌ forward a message until you verify the content it contains. ";
  }

  100% {
    content: "Be a true Indian. Show compassion. Be considerate. Help those in need. We will get through this!";
  }
}

.Banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 20px;
  font-family: Archia;
  font-size: .8rem;
  font-weight: 600;
  background: rgba(47, 40, 165, 0.13);
  vertical-align: middle;
}



/* Mobile Code | Responsive Code*/
@media screen and (max-width: 600px) {

  .Banner {
    height: 5rem;
  }

  .Banner p b {
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }

  #spin {
    display: block;
    text-align: center;
    line-height: 1.2em;
  }

  .link_tips .row {
    display: grid;
    min-width: 100%;
    margin-left: 0 !important;
  }

  .link_tips button {
    margin: 0 20px 20px 0px !important;
    border-radius: 0;
  }

  #header {
    font-size: 22px !important;
  }

  #map {
    min-width: min-content;
    display: contents;
  }

  svg {
    width: 300px;
  }

  .few_tips p {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .images .col-sm-3 {
    flex: 33.33%;
    padding: 5px;
    display: block;
    min-width: 100%;
  }

  .accordion a {
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .accordion .content p {
    font-size: 14px !important;
    font-family: archia !important;
  }


  table {
    border-collapse: collapse !important;

  }

  table.table td {
    padding-top: 0;
    padding-bottom: 0;
    text-align: start;
    font-size: 12px !important;
  }

  .table td {
    padding: .50rem !important;
  }

  table.table thead th {
    text-align: start !important;
  }

  table.table thead th {
    font-size: 12px !important;
  }


  .col {
    padding: 10px 0 !important;
  }

  .tipps ul li {
    font-size: 16px;
    font-family: archia !important;
  }

  .tipps h2 {
    font-size: 22px;
  }

  #helpline td {
    text-align: center !important;
  }

  #grad th {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif !important;

  }

  /* CSS Code For Web Share Button */
  .icon {
    width: 30px;
    height: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #e3eef1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 20;
    opacity: 0.5;
    transition: opacity 0.1s;
  }

  .icon:active,
  .icon:hover {
    opacity: 1;
  }

  .invisible {
    display: none;
  }

  .news_card h2 {
    font-size: 22px !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .navbar .container {
    width: 90% !important;
  }

  .col-12 {
    padding-right: 0 !important;
  }

  .navbar.navbar-light .navbar-toggler {
    color: #343A40 !important;
  }

}

#tableData tr {
  background-color: #f2f2f2 !important;
}

#tableData tr:hover {
  background-color: #ddd;
}

#world_data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#world_data tr:hover {
  background-color: #ddd;
}

#helpline tr:nth-child(even) {
  background-color: #f2f2f2;
}

#helpline tr:hover {
  background-color: #ddd;
}

.datarow {
  display: none;
}

.delta {
  color: red;
  display: inline;
  font-size: smaller;
}
